<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание закупки материала</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector('form');
            const purchaseDateInput = document.getElementById('purchaseDate');
            const quantityInput = document.getElementById('quantity');
            const materialSelect = document.getElementById('material');

            const now = new Date();
            const formattedDate = now.toISOString().slice(0, 16);
            purchaseDateInput.value = formattedDate;

            form.addEventListener('submit', function (event) {
                // Предотвращаем отправку формы на данный момент
                event.preventDefault();

                // Проверяем, достаточно ли продукции
                const selectedMaterial = materialSelect.options[materialSelect.selectedIndex];
                const availableQuantity = parseInt(selectedMaterial.getAttribute('data-quantity'));
                const requiredQuantity = parseInt(quantityInput.value);

                if (requiredQuantity > availableQuantity) {
                    alert('Не хватает материала! Доступно только ' + availableQuantity + ' единиц.');
                } else {
                    // Если продукции достаточно, отправляем форму
                    form.submit();
                }
            });
        });
    </script>
</head>
<body>
<div class="container mt-3">
    <div class="pl-5">
        <h1 class="header">Создание продажи</h1>
        <form action="#" th:action="@{/product/create-sale}" method="post" th:object="${productSale}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="material">Материал</label>
                <div class="col-sm-5">
                    <select required class="form-control" id="material" th:field="*{product.id}">
                        <option th:value="null"></option>
                        <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}" th:attr="data-quantity=${product.quantity}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="quantity">Количество</label>
                <div class="col-sm-5">
                    <input required class="form-control" type="text" id="quantity" th:field="*{quantity}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="purchaseDate">Дата и время закупки</label>
                <div class="col-sm-5">
                    <input class="form-control" type="datetime-local" id="purchaseDate" th:field="*{salesDate}" th:value="${thisTime}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="employee">Сотрудник</label>
                <div class="col-sm-5">
                    <select required class="form-control" id="employee" th:field="*{employee.id}">
                        <option th:value="0"></option>
                        <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.name}"></option>
                    </select>
                </div>
            </div>
            <button class="btn btn-success" type="submit" value="Сохранить">Сохранить</button>
        </form>
    </div>
</div>
</body>
</html>