<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 mx-auto text-center"> <!-- Добавлен класс mx-auto и text-center -->
            <div class="btn-group">
                <a href="/employee-list" class="btn btn-outline-success" role="button" aria-disabled="true">Список Работников</a>
                <a href="/product-list" class="btn btn-outline-success" role="button" aria-disabled="true">Список Продуктов</a>
                <a href="/material/list" class="btn btn-outline-success" role="button" aria-disabled="true">Список Материалов</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
