<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список материалов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container mt-3">
    <div class="row">
        <div class="mb-4">
            <div class="btn-group">
                <a href="/employee-list" class="btn btn-outline-success" role="button" aria-disabled="true">Список Работников</a>
                <a href="/product-list" class="btn btn-outline-success" role="button" aria-disabled="true">Список Продуктов</a>
                <a href="/material/list" class="btn btn-outline-success" role="button" aria-disabled="true">Список Материалов</a>
            </div>
        </div>
        <div class="col-md-6 text-right">
                <h5>Бюджет</h5>
                <ul class="list-group">
                    <li class="list-group-item" th:each="budget : ${budgets}" th:text="${budget.amount}"></li>
                </ul>
        </div>
    </div>
    <div th:switch="${materials}" class="pl-3">
        <div th:case="*">
            <h1 class="header">Материалы</h1>
            <div class="mb-4">
<!--
                <a href="/product/create" class="btn btn-outline-success" role="button" aria-disabled="true">Создание продукта</a>
-->
                <a href="/material/purchase" class="btn btn-outline-success" role="button" aria-disabled="true">Закупка</a>
                <a href="/material/purchase-list" class="btn btn-outline-success" role="button" aria-disabled="true">Список Закупок</a>
                <a href="/material/create" class="btn btn-outline-success" role="button" aria-disabled="true">Создать материал</a>
            </div>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Единица измерения</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:each="material : ${materials}">
                    <td th:text="${material.getId()}"></td>
                    <td th:text="${material.getName()}"></td>
                    <td th:text="${material.getUnitOfMeasurement().getName()}"></td>
                    <td th:text="${material.getQuantity()}"></td>
                    <td th:text="${material.getAmount()}"></td>
                    <td>
                        <a th:href="@{'/material/edit/' + ${material.id}}" class="btn btn-outline-primary btn-sm">Редактировать</a>

                        <a th:href="@{'/material/delete/' + ${material.id}}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Вы уверены, что хотите удалить материал?');">Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
