<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список продаж продуктов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <a href="/employee-list" class="btn btn-outline-success" role="button" aria-disabled="true">Список Работников</a>
            <a href="/material/list" class="btn btn-outline-success" role="button" aria-disabled="true">Список Материалов</a>
        </div>
    </div>
    <div class="col-md-6 text-right">
        <h5>Бюджет</h5>
        <ul class="list-group">
            <li class="list-group-item" th:each="budget : ${budgets}" th:text="${budget.amount}"></li>
        </ul>
    </div>
</div>

<div class="container mt-3">
    <h1>Список продажи продуктов</h1>
    <div class="mb-4">
        <a href="/product/sale" class="btn btn-outline-success" role="button" aria-disabled="true">Продажа Продукта</a>
        <a href="/product-list" class="btn btn-outline-success" role="button" aria-disabled="true">Список Продуктов</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Продукт</th>
            <th scope="col">Количество</th>
            <th scope="col">Сумма</th>
            <th scope="col">Дата продажи</th>
            <th scope="col">Сотрудник</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sale : ${sales}">
            <td th:text="${sale.id}"></td>
            <td th:text="${sale.product.name}"></td>
            <td th:text="${sale.quantity}"></td>
            <td th:text="${sale.amount}"></td>
            <td th:text="${sale.salesDate}"></td>
            <td th:text="${sale.employee.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
